/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Layout */
.jumbotron {
  display: flex;
  justify-content: center;
}

.container-carousel {
  width: 100%;
  height: 500px;

  position: relative;

  display: flex;
}

.mini-carousel {
  width: 200px;
  height: 500px;

  position: relative;
}

.cover-img {
  width: 100%;
  height: 100%;
}

.cover-img > img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.mini-slide {
  width: 100%;
  height: calc(100% / 5);
}

.mini-slide-img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.border-mini-slide {
  border: 4px solid rgb(237, 236, 245);
}

.bottom-carousel {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  position: absolute;
  left: 0;
  bottom: 0;

  padding: 0.2rem;
}

.container-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

/* Control Buttons */

.btn-controls {
  padding: 0.2rem;
  border: 0;
  border-radius: 50%;

  display: inline-block;
  position: absolute;

  right: 50%;
  transform: translateX(50%);
}

.btn-controls.btn-prev {
  top: 2%;
}

.btn-controls.btn-next {
  bottom: 2%;
}
